#version=RHEL8
text


%packages
@^minimal-environment

%end

# Keyboard layouts
keyboard --xlayouts='us (altgr-intl)'
# System language
lang fr_FR.UTF-8

# Network information
network  --bootproto=dhcp --device=ens160 --ipv6=auto --activate
network  --hostname=netbox

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=nvme0n1
autopart --encrypted
# Partition clearing information
clearpart --none --initlabel

# System timezone
timezone Europe/Paris --isUtc --nontp

#Root password
rootpw --lock
user --groups=wheel --name=charles --password=$6$5AzZl9AllW79CPst$bFGVqU.pfw4e35fxM0.fOvb2UmKU0ch7jF24imoEksIOUhIRaC2YP4Mj6p5BTXPwVibCtwcJCSw4pYodWmOp5/ --iscrypted --gecos="Charles Leclerc"

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
