#version=RHEL8
# Use graphical install
text


%packages
@^minimal-environment
%end

# Keyboard layouts
keyboard --xlayouts='us (altgr-intl)'
# System language
lang fr_FR.UTF-8

# Network information
network  --bootproto=dhcp --device=ens160 --ipv6=auto --activate
network  --hostname=netbox

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=nvme0n1
autopart --encrypted --passphrase=sedrftgy
# Partition clearing information
clearpart --none --initlabel

# System timezone
timezone America/New_York --isUtc

#Root password
rootpw --lock
user --groups=wheel --name=ansible --password=$6$Mp0UabuUIRUwDac3$hvCENDyFm34NurIvXkrHho/wBd/wrTzgmjS/Qd/kJEOg38nIp4ahmUCZS1dh8MxSzQD7QPtYJ4f2OQPac8o3K0 --iscrypted --uid=2000 --gecos="Ansible User" --gid=2000

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
cat > /etc/sudoers.d/ansible << EOF
ansible ALL=(ALL:ALL) NOPASSWD: ALL
EOF
chmod 440 /etc/sudoers.d/ansible
gpasswd -d ansible wheel
mkdir -p /home/ansible/.ssh
chmod 700 /home/ansible/.ssh
cat > /home/ansible/.ssh/authorized_keys << EOF
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDaoU8wPZvJZTtcU1TfgrnMWjs6UxRf4DdzNNUsrvy/y ansible@default
EOF
chmod 400 /home/ansible/.ssh/authorized_keys
chown -R ansible:ansible /home/ansible/.ssh
%end
