[Unit]
Description=First boot service for initial setup
DefaultDependencies=no

[Service]
Environment=HOME=/root
WorkingDirectory=-/
ExecStartPre=chvt 2
ExecStart=/usr/local/sbin/first-boot.py
ExecStopPost=/bin/bash
TimeoutSec=infinity
Type=idle
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes
TTYReset=yes
StandardInput=tty
StandardOutput=tty
StandardError=tty
